<li>
    {{burger_name}}
    <br>
    <button class="change-devoured" data-id="{{id}}" data-justDevoured="{{devoured}}">
        {{#unless devoured}}SEND IT BACK{{else}}ATTEMPT TO EAT{{/unless}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">THROW AWAY</button>
</li>
<br>